<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            http://www.springframework.org/schema/batch
            http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">


    <!--jobLauncher负责batch的启动工作，jobRepository负责job的整个运行过程中的CRUD操作，transactionManager负责事务的管理操作。-->
    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>
    <!--事物支持-->
    <bean id="transactionManager"
          class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"/>


    <bean id="csvProcessor" class="com.varela.open.batch.processor.CsvProcessor"/>
    <!--自定义skip策略-->
    <bean id="myPolicy" class="com.varela.open.batch.policy.MyPolicy"/>

    <batch:job id="csvJob">
        <batch:step id="csvStep">
            <tasklet transaction-manager="transactionManager">
                <chunk reader="csvItemReader" writer="csvItemWriter" processor="csvProcessor" commit-interval="1000"
                       skip-limit="50" skip-policy="myPolicy">
                    <skippable-exception-classes>
                        <include class="org.springframework.batch.item.file.FlatFileParseException"/>
                        <!--  <include class="java.lang.Exception"/>
                          <exclude class="java.io.FileNotFoundException"/>-->
                    </skippable-exception-classes>
                </chunk>
            </tasklet>
        </batch:step>
    </batch:job>

    <!--数据库
    <bean id="jdbcCursorItemReader" class="org.springframework.batch.item.database.JdbcCursorItemReader">
        <property name="dataSource" ref=""/>
    </bean>
      <bean id="myWriter" class="com.varela.open.batch.writer.MyWriter"/>
    -->

    <!--读取文件-->
    <bean id="csvItemReader"
          class="org.springframework.batch.item.file.FlatFileItemReader" scope="step">
        <property name="resource" value="#{jobParameters['inputFile']}"/>
        <property name="lineMapper">
            <bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
                <property name="lineTokenizer" ref="lineTokenizer"/>
                <property name="fieldSetMapper">
                    <bean class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
                        <property name="prototypeBeanName" value="order"></property>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="lineTokenizer" class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
        <property name="delimiter" value=","/>
        <property name="names">
            <list>
                <value>senderAddress</value>
                <value>latitude</value>
                <value>longitude</value>
                <value>deliveryAddress</value>
                <value>rLatitude</value>
                <value>rLongitude</value>
                <value>senderMobile</value>
                <value>receiverMobile</value>
            </list>
        </property>
    </bean>

    <bean id="order" class="com.varela.open.batch.pojo.Order"/>
    <!-- 写CSV文件 -->
    <bean id="csvItemWriter"
          class="org.springframework.batch.item.file.FlatFileItemWriter" scope="step">
        <property name="resource" value="#{jobParameters['outputFile']}"/>
        <property name="lineAggregator">
            <bean class="org.springframework.batch.item.file.transform.DelimitedLineAggregator">
                <property name="delimiter" value=","></property>
                <property name="fieldExtractor">
                    <bean class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor">
                        <property name="names" value="senderAddress,latitude,longitude"></property>
                        <!--    ,deliveryAddress
                            ,rLatitude,rLongitude,senderMobile,receiverMobile-->
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
</beans>